<!-- voiceactors-characters.component.html -->
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="animesCharacters" class="mat-elevation-z8">
        <ng-container matColumnDef="animeId">
            <th mat-header-cell *matHeaderCellDef> Anime ID </th>
            <td mat-cell *matCellDef="let element"> {{ element.anime.animeId }} </td>
          </ng-container>
      
          <!-- Anime Name Column -->
          <ng-container matColumnDef="animeName">
            <th mat-header-cell *matHeaderCellDef> Anime Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.anime.animeName }} </td>
          </ng-container>
      
          <!-- Anime Image Column -->
          <ng-container matColumnDef="animeImage">
            <th mat-header-cell *matHeaderCellDef> Anime Image </th>
            <td mat-cell *matCellDef="let element">
              <img *ngIf="element.anime.animeImage" [src]="getFormattedImage(element.anime.animeImage)" alt="Anime Image" height="200" width="200">
            </td>
          </ng-container>
  
      <!-- Character ID Column -->
      <ng-container matColumnDef="characterId">
        <th mat-header-cell *matHeaderCellDef> Character Played ID </th>
        <td mat-cell *matCellDef="let element"> {{ element.character.characterId }} </td>
      </ng-container>
  
      <!-- Character Name Column -->
      <ng-container matColumnDef="characterName">
        <th mat-header-cell *matHeaderCellDef> Character Played Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.character.characterName }} </td>
      </ng-container>
  
      <!-- Character Image Column -->
      <ng-container matColumnDef="characterImage">
        <th mat-header-cell *matHeaderCellDef> Character Played Image </th>
        <td mat-cell *matCellDef="let element">
          <img *ngIf="element.character.characterImage" [src]="getFormattedImage(element.character.characterImage)" alt="Character Image" height="200" width="200">
        </td>
      </ng-container>
  
      <!-- Header and Rows Definitions -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  