<h1>Voice Actors</h1>

@if(isAuthorized) {
    <button class="edit-button" (click)="showAddVoiceActorForm()">Add New Voice Actor</button>
}

@if(showForm){
    <div>
        <h2>Add New Voice Actor</h2>
  <form (ngSubmit)="addNewVoiceActor()" enctype="multipart/form-data">
    <label for="voiceActorName">Voice Actor Name:</label>
    <input type="text" id="voiceActorName" name="voiceActorName" [(ngModel)]="newVoiceActor.voiceActorName" required>
    <br>

    <label for="voiceActorImage">Voice Actor Image (allowed file types: JPG, JPEG):</label>
    <input type="file" id="voiceActorImage" name="voiceActorImage" accept="image/jpeg,image/jpg" (change)="handleFileInput($event)" required>
    <br>

    @if(showIncompleteFieldsError){
        <div>
          <h2> Please fill in all fields. </h2>
        </div>
      }

    <button type="submit">Submit</button>
    <button (click)="onFormCancel()">Cancel</button>
  </form>
    </div>
    <br>
}
<table class="table table-striped">
    <thead>
        <tr> 
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @for (voiceActor of voiceActors; track $index) {
            <tr>
                <td>
                    <a [routerLink] ="['/voice-actors/animesCharacters', voiceActor.voiceAactorId]">
                        {{voiceActor.voiceAactorId}}
                    </a>
                </td>
                <td>{{voiceActor.voiceActorName}}</td>
                <td><img [src]="getFormattedImage(voiceActor.voiceActorImage)" alt="Voice Actor Image" height="200" width="200"></td>
            </tr>
        }
    </tbody>
</table>