<h1>Characters</h1>
@if(isAuthorized) {
    <button class="edit-button">You are Aauthorized</button>
}
<table class="table table-striped">
    <thead>
        <tr> 
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @for (character of characters; track $index) {
            <tr>
                <td>
                    <a [routerLink] ="['/characters/animesVoiceActors', character.characterId]">
                        {{character.characterId}}
                    </a>
                </td>
                <td>{{character.characterName}}</td>
                <td><img [src]="getFormattedImage(character.characterImage)" alt="Character Image" height="200" width="200"></td>
            </tr>
        }
    </tbody>
</table>