<h1>Characters</h1>
<table class="table table-striped">
    <thead>
        <tr> 
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @for (character of characters; track $index) {
            <tr>
                <td>
                    <a [routerLink] ="['/character-voiceActors&animes', character.characterId]">
                        {{character.characterId}}
                    </a>
                </td>
                <td>{{character.characterName}}</td>
                <td><img [src]= character.characterImage height="200" width="200"></td>
            </tr>
        }
    </tbody>
</table>