<h1>Characters</h1>
@if(isAuthorized) {
    <button class="edit-button" (click)="showAddCharacterForm()">Add New Character</button>
}

@if(showForm){
    <div>
        <h2>Add New Character</h2>
  <form (ngSubmit)="addNewCharacter()" enctype="multipart/form-data">
    <label for="characterName">Character Name:</label>
    <input type="text" id="characterName" name="characterName" [(ngModel)]="newCharacter.characterName" required>
    <br>

    <label for="characterImage">Character Image (allowed file types: JPG, JPEG):</label>
    <input type="file" id="characterImage" name="characterImage" accept="image/jpeg,image/jpg" (change)="handleFileInput($event)" required>
    <br>

    @if(showIncompleteFieldsError){
        <div>
          <h2> Please fill in all fields. </h2>
        </div>
      }

    <button type="submit">Submit</button>
    <button (click)="onFormCancel()">Cancel</button>
  </form>
    </div>
    <br>
}
<table class="table table-striped">
    <thead>
        <tr> 
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @for (character of characters; track $index) {
            <tr>
                <td>
                    <a [routerLink] ="['/characters/animesVoiceActors', character.characterId]">
                        {{character.characterId}}
                    </a>
                </td>
                <td>{{character.characterName}}</td>
                <td><img [src]="getFormattedImage(character.characterImage)" alt="Character Image" height="200" width="200"></td>
            </tr>
        }
    </tbody>
</table>